:root {
    --bg-clr: black;
    --slice-clr: yellow;
}

.triangle a[data-link="level2"] {
    color: yellow;
    cursor: none;
}

.content-div h3 {
    margin: 0;
    padding: 0;
}

.content-div p {
    margin: 0;
    padding: 0;
}

.content-div p.emom-subheader {
    margin-top: 0.4rem;
}

.content-div i,
.content-div>p>.timer,
.content-div span.counter {
    background-color: yellow;
}

.content-div>p>.timer {
    font-family: 'Press Start 2P', monospace;
}

.content-div button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 3px #000 solid;
    border-radius: 12px;
    font-size: .8rem;
}

.content-div .btn:active {
    transform: scale(.9);
    border: 3px #000 solid;
}

.content-div .btn:focus {
    outline: none;
}

.content-div .clock {
    transform: scale(0);
    border-radius: 50%;
}

.content-div .clock.on {
    margin-left: 0.1em;
    margin-right: 0.1em;
    font-size: 3.2rem;
    animation: clock 5s 12;
}

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}

.word-container img {
    height: 5rem;
    width: 5rem;
    flex: 1;
}

/* ANIMATION //////////////////////////// */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes highlighter {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: yellow;
    }
}

@keyframes clock {
    0% {
      background-color: var(--bg-clr);
      transform: scale(1);
      filter: brightness(3);
      box-shadow: var(--slice-clr) 1px 1px 15px 3px;
    }
    16.67%{
      transform: scale(1);
      background: conic-gradient(
        var(--bg-clr) 72deg 10deg,
        var(--slice-clr) 10deg
      );
    }
    33.33%{
      transform: scale(1);
      background: conic-gradient(
        var(--bg-clr) 144deg 10deg,
        var(--slice-clr) 10deg
      );
    }
    50% {
      transform: scale(1);
      background: conic-gradient(
        var(--bg-clr) 226deg 10deg,
        var(--slice-clr) 10deg
      );
    }
    66.67%{
      transform: scale(1);
      background: conic-gradient(
        var(--bg-clr) 298deg 10deg,
        var(--slice-clr) 10deg
      );
    }
    83.33%{
      transform: scale(1);
      background: conic-gradient(
        var(--bg-clr) 298deg 10deg,
        var(--slice-clr) 10deg
      );
    }
    100% {
      transform: scale(1);
      background: conic-gradient(
        var(--bg-clr) 360deg 10deg,
        var(--slice-clr) 10deg
      );
    }
  }

/* -----------------media queries----------------- */
@media (max-width: 950px) {
    .word-container img {
        height: 4rem;
        width: 4rem;
    }
}

@media (max-width: 650px) {
    .word-container img {
        height: 3rem;
        width: 3rem;
    }
}

@media (max-width: 525px) {
    .word-container img {
        height: 2rem;
        width: 2rem;
    }
}

@media (max-width: 360px) {
    .content-div h3 {
        margin-top: 3.5rem;
        font-size: 1.5rem;
    }
    .content-div p {
        font-size: 1rem;
    }
    .content-div button {
        margin-top: 1rem;
    }
    .word-container {
        margin-top: 1rem;
    }
    .word-container img {
        height: 1.5rem;
        width: 1.5rem;
    }
}